#featured-hero {
  @include text-selection();
  & .banner-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: rem-calc(630);
    overflow: hidden;
    padding-top: rem-calc(90);

    & .banner-row {
      @include grid-row;
      @include vertical-align();

      & .banner-col {

        margin-left: rem-calc(20);
        margin-right: rem-calc(20);
        transition:  margin-left 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
        @include breakpoint(medium) {
          @include grid-column(12);
          margin-left: rem-calc(100);
        }
        @include breakpoint(large) {
          margin-left: rem-calc(160);
        }
      }
    }

    & .banner-title {
      display: block;
      font-weight: 300;
      font-size: rem-calc(40);
      line-height: 1.2;
      & h2 {
        font-size: inherit;
        margin-bottom: 0;

        & strong {
          font-weight: 800;
        }
      }
      @include breakpoint(medium) {
        font-size: rem-calc(50);
        max-width: 70%;
      }
      @include breakpoint(large) {
        font-size: rem-calc(60);
        max-width: 55%;
      }
    }

    & .banner-subtitle {
      display: block;
      font-size: rem-calc(22);
      margin-top: rem-calc(10);
      @include breakpoint(medium) {
        max-width: 50%;
      }
    }

    & .banner-author {
      display: block;
      margin-top: rem-calc(40);
      font-size: rem-calc(24);
      font-weight: 700;
      font-style: italic;
    }

    & .banner-author-office {
      font-size: rem-calc(22);
      font-style: italic;
    }

    & .banner-logo {
      margin-top: rem-calc(40);
    }

    & .button {
      margin-top: rem-calc(40);

      & img {
        margin-left: rem-calc(10);
        display: inline;
      }

      &.secondary {
        display:none;
      }
    }
  }

  &.page-tour {
    & .banner-hero {
      & .banner-row {
        & .banner-col {
          margin-left: 0;
          margin-right: 0;
          @include breakpoint(medium) {
            margin-left: 0;
          }
          @include breakpoint(large) {
            margin-left: 0;
          }
        }
      }

      & .banner-title {
        text-align: center;
        margin: auto;
      }
    }

    & .banner-subtitle {
      text-align: center;
      margin: rem-calc(40) auto auto;
      color: #545454;
    }
  }
}
