& .argumentacao {
  background-color: #F1F1F1;
  & p:not(.highlight-text) {
    @include breakpoint(small only){
      margin:rem-calc(0 20);
    }
  }

  & .tabs {
    border: none;
    margin-top: rem-calc(40);
    & .tabs-title {

      & > a {
        display: block;
        background-color: #005581;
        padding: rem-calc(40 20);
        font-size: rem-calc(16);
        text-align: center;
        height: 100%;
        min-height:rem-calc(115);
        transition: background-color 200ms;

        @include text-selection($cursor: pointer);

        @include breakpoint(medium only) {
          min-height: rem-calc(216);
        }

        @include breakpoint(large) {
          margin-right: rem-calc(5);
        }

        @include breakpoint(large) {
          min-height: rem-calc(200);
        }

        & .tab-icon {
          display:none;
          @include breakpoint(medium) {
            display: block;
            margin: 0 auto rem-calc(20);
          }

        }

        & .tab-text {
          font-weight: 700;
          color: #FFF;
        }
      }

      &:nth-child(1) {
        & > a {
          background-color: #0097d5;
        }
      }

      &:nth-child(2) {
        & > a {
          background-color: #0097d5;
        }
      }

      &:nth-child(3) {
        & > a {
          background-color: #0077ae;
        }
      }

      &:nth-child(4) {
        & > a {
          background-color: #006394;
        }
      }

      &:nth-child(5) {
        & > a {
          background-color: #005581;
        }
      }

      &:last-of-type {
        & > a {
          margin-right: 0;
        }
      }

      &.is-active {
        & > a {
          background-color: #FFF;

          & .tab-text {
            color: #0096d5;
          }
        }
      }
    }
  }

  & .tabs-content {
    border: none;
    margin-bottom: rem-calc(40);

    & .tabs-panel {
      padding: 0;
      @include breakpoint(small only) {
        height:auto!important;
      }

      & .row, & .columns {
        height: 100%;
      }

      & .tab-descricao {
        padding: rem-calc(20);
        font-size: rem-calc(14);

        @include breakpoint(medium) {
          padding: rem-calc(20 40);
        }

        & .tab-text-light {
          font-weight: 300;
          font-size: rem-calc(20);
          text-transform: uppercase;
        }

        & p {
          font-size: rem-calc(14);
          margin-bottom: rem-calc(10);
          margin-left:0;
          margin-right:0;
        }

        & ul {
          & li {
            margin-bottom: rem-calc(5);
            & img {
              margin-right: rem-calc(10);
              vertical-align: middle;
            }
          }
        }

        & .button {
          display:none;
          margin-bottom: 0;
          & img {
            margin-left: rem-calc(10);
            vertical-align: sub;
          }
        }
      }

      & .tab-image-cover {
        width: calc(100% - 6px);
        margin-left: 6px;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}