.beneficios {
    background-color:#334557;
    background-size: cover;
    background-position: center center;
    padding:rem-calc(100 0);
    color:#FFF;

    & .beneficios-highlight {
      text-align:center;
      margin-bottom:rem-calc(100);

      & img {
        display:block;
        margin: 0 auto rem-calc(40);
      }

      & span {
        font-size:rem-calc(38);
      }
    }

    & .beneficios-text {
      text-align: center;
      margin-bottom: rem-calc(100);
    }

    & .lista-beneficios {
      & .beneficio {
        @include breakpoint(small only) {
          margin:rem-calc(0 20 60);
        }

        & .beneficio-title {
          font-size: rem-calc(22);
          display:block;
          margin-bottom:rem-calc(20);
          @include breakpoint(medium){
            min-height: rem-calc(100);
          }
        }
      }

      & .column:last-child {
        & > .beneficio {
          margin-bottom:0;
        }
      }
    }
  }