#canais-de-comunicacao {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  width: 100%;

  @include breakpoint(medium) {
    bottom: auto;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    width: auto;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    @include breakpoint(medium) {
      float: left;
    }
    & li {
      display: inline-block;
      vertical-align: bottom;
      width: 25%;
      @include breakpoint(medium) {
        display: block;
        width: auto;
        text-align: right;
      }

      &:not(:last-of-type) {
        & a {
          @include breakpoint(medium) {
            margin-bottom: rem-calc(2);
          }
        }

      }

      & a {
        display: block;
        background-color: #2c303d;
        padding: rem-calc(5);

        @include breakpoint(medium) {
          display: inline-block;
          color: #FFF;
          padding: rem-calc(5);
          font-size: rem-calc(9);
          font-weight: 700;
          text-align: center;
          transition: width 200ms;
          border-left: 5px solid rgba(44, 48, 61, 0.9);
          background-clip: padding-box;
          width: rem-calc(65);
        }

        &:hover, &:focus, &.is-active {
          @include breakpoint(medium) {
            width: rem-calc(70);
          }
        }

        & img {
          display: block;
          margin: auto;
          width: 25%;
          @include breakpoint(medium) {
            width: rem-calc(34);
          }
        }
      }
    }
  }

  .social {
    background-color: rgba(44, 48, 61, .97);
    height: auto;
    width: 100%;
    float: left;
    padding: rem-calc(10);
    overflow: hidden;
    transform: translateY(100%);
    margin-top: rem-calc(-106);
    transition: transform 200ms, margin 200ms;

    @include breakpoint(medium) {
      background-color: rgba(44, 48, 61, 0.9);
      width: rem-calc(150);
      transform: translateX(100%) translateY(0);
      margin-top: 0;
      margin-left: rem-calc(-150);

    }

    &.is-open {
      transform: translateX(0) translateY(0);
      margin-left: 0;
      margin-top: 0;
    }

    & .social-text {
      display: block;
      color: #FFF;
      text-align: center;
      margin-bottom: rem-calc(20);
      font-size: rem-calc(12);
    }

    & .redes-sociais {
      text-align: center;
      a {
        color: rgba(44, 48, 61, 0.9);
        display: inline-block;
        margin-bottom: rem-calc(5);
        & .fa-inverse {
          color: rgba(255,255,255,.6);
        }

        &:hover, &:focus {
          & .fa-inverse {
            color: rgba(255,255,255,.9);
          }
        }
      }
    }
  }
}