.cases {
  background-color:#235574;

  & .case {
    @include text-selection();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem-calc(100 20);
    min-height: rem-calc(678);

    @include breakpoint(medium) {
      padding: rem-calc(100 40);
    }

    & .case-citacao {
      border: none;
      font-size: rem-calc(20);
      font-style: italic;
      margin: 0 0 rem-calc(60) 0;
      padding: 0;
      @include breakpoint(medium){
        height:rem-calc(230);
      }
      text-align: center;
      & p {
        color: #FFF;
        margin: 0;
        @include breakpoint(medium){
          @include vertical-align();
        }
      }
    }

    & .case-autor {
      color: #FFF;
      display: block;
      font-weight: 700;
      text-align: center;
      margin-bottom: rem-calc(10);
      font-size: rem-calc(20);
    }

    & .case-autor-cargo {
      color: #FFF;
      display: block;
      text-align: center;
      min-height:rem-calc(48);
    }

    & .case-logo-cliente {
      display:block;
      margin: auto;
      @include breakpoint(small only) {
        margin: rem-calc(40) auto;
      }
    }

    & .button {
      opacity:.75;
      margin-bottom:0;
      @include breakpoint(medium) {
        margin-top:rem-calc(40);
      }
    }

    & .case-premiacao {
      margin-top:rem-calc(40);
      text-align:center;

      & .case-premiacao-img {
        display:inline-block;
        width: rem-calc(50);
        margin-right:rem-calc(20);
      }

      & .case-premiacao-texto {
        color:#FFF;
        font-size:rem-calc(14);
        display: inline-block;
        vertical-align:middle;
        width: 50%;
        text-align: center;
      }
    }
  }
}