& .demonstracao {
  background-color: #F1F1F1;
  padding-top: rem-calc(100);

  & .demonstracao-content {
    background-color: #FFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: rem-calc(40);
    margin: rem-calc(100) 0;

    & .demonstracao-img-midias {
      display: block;
      margin: rem-calc(-100) auto 0;
    }

    & .demonstracao-green-arrow {
      float: left;
      margin-top: rem-calc(30);
          }

    & .demonstracao-center {
      text-align: center;
      @include breakpoint(medium down) {
        margin-top: rem-calc(40);
      }
    }

    & .demonstracao-text {
      display: inline-block;
      font-size: rem-calc(18);
      max-width: rem-calc(260);
      margin-bottom: rem-calc(20);

    }

    & .button {
      margin-bottom: 0;

      & img {
         margin-left: rem-calc(10);
      }
    }
  }
}