#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  & .footer-contatos {
    background-color: #314682;
    padding: rem-calc(40 20);

    & .column-block {
      margin-bottom: rem-calc(40);
    }

    & address {
      font-style: normal;

      & .localizacao {
        color: rgba(255, 255, 255, .6);
        font-size: rem-calc(14);
      }

      & .telefone {
        color: #00A0F0;
        font-weight: 300;
        font-size: rem-calc(18);
      }

      & .endereco {
        display: inline-block;
        color: rgba(255, 255, 255, .6);
        font-size: rem-calc(12);
        min-height: rem-calc(42);
      }

      & .link-como-chegar {
        display: inline-block;
        margin-top: -rem-calc(5);
        padding: rem-calc(2 5);
        background-color: rgba(194, 190, 179, .1);
        color: rgba(255, 255, 255, .75);
        text-decoration: none;
        font-size: rem-calc(12);
      }
    }

    & .redes-sociais {
      text-align: center;
      @include breakpoint(medium) {
        text-align: right;
      }
      a {
        color: #314682;
        & .fa-inverse {
          color: rgba(255,255,255,.6);
        }

        &:hover, &:focus {
          & .fa-inverse {
            color: rgba(255,255,255,.9);
          }
        }
      }
    }

    & .software-nacional {
      font-size: rem-calc(14);
      color: #FFF;
      margin-top: rem-calc(40);
      text-align: center;
      white-space: nowrap;
      @include text-selection();
      @include breakpoint(medium) {
        text-align: right;
      }

      & .software-text {
        border-bottom: 5px solid #00c200;
      }

      & .nacional-text {
        font-weight: 700;
        border-bottom: 5px solid #eec700;
      }
    }
  }

  & .footer-aportes {
    padding: rem-calc(20 0);
    color: #787878;
    vertical-align: middle;
    font-size: rem-calc(12);
    text-align: center;
  }
}
