& .modeler {
  background-color: #F1F1F1;
  padding-top: rem-calc(100);

  & .modeler-content {
    background-color: #FFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: rem-calc(40);
    margin: 0 0 rem-calc(100) 0;

    & .modeler-text {
      display: block;
      text-align: center;
      font-size: rem-calc(18);
      margin-bottom: 0;
    }

    & .button {
      margin-top: rem-calc(10);
      margin-bottom: 0;
    }
  }
}