// Navigation breakpoints
.desktop-menu {
  @include show-for(large);
}

#mobile-menu {
  @include hide-for(large);

  & a {
    padding: rem-calc(20);
  }

  & ul, & ul ul {
    background: transparent;
  }
}

.site-header {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  &.tour {
    & .top-bar {
      background-color: transparent;
      & .top-bar-title {
        width: 100%;
        margin: rem-calc(30 0 30 0);
      }
    }
  }
}

// Tablet and desktop menu
.top-bar {
  padding: 0;

  & ul {
    background-color: transparent;

    & ul {
      background-color: rgba(255,255,255,.9);
    }
  }

  & .mobile-menu-toggler {
    font-size: rem-calc(30);
    margin:0 rem-calc(20);
    vertical-align: middle;
    color: #003874;
  }

  & .top-bar-title {
    padding: 0;
    margin: rem-calc(30 60 30 0);
    float: none;
    vertical-align: middle;
    @include breakpoint(medium down) {
      display: block;
    }
  }

  & #responsive-menu {
    display: block;
    @include breakpoint(large) {
      display: inline-block!important;
    }
    vertical-align: middle;
  }

  & .menu {
    & a {
      color: #003874;
      font-weight: 700;
      font-size: rem-calc(14);

      &:hover {
        color: #00aeef;
      }
    }

    & .row.small-collapse {
      margin: 0;
    }

    & .dropdown-pane {
      left: -99999px;
      background-image: url("../images/identity/bg-menu-top.png");
      background-position: right center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 200ms;
      &.is-open {
        opacity: 1;
      }

      & ul {
        background: transparent;
      }
    }

    & > li > a {
      padding: rem-calc(42 40 42 0);
    }

    & .menu {
      margin-top: 1px;
      & > li > a {
        padding: rem-calc(20);
      }
    }

    & .menu-list {
      padding: rem-calc(20 0 30 20);

      & .menu-list-title {
        display: block;
        color: #8e8d94;
        border-bottom: 1px solid #d0d0cf;
        font-weight: 700;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(20);
      }

      & > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & a {
          display: inline-block;
          margin-bottom: rem-calc(10);
        }
      }
    }

    & .menu-demonstracao {
      & a {
        display: block;
        background-color: rgba(0,56,116,.75);
        padding: rem-calc(20);
        font-weight: normal;
        color: #FFF;

        & .teste-agora {
          border: 1px solid #fff;
          padding: rem-calc(5 8);
          margin-right: rem-calc(20);
          border-radius: 2px;
          transition: background-color 200ms;
        }

        & img {
          margin-right: rem-calc(10);
        }

        &:hover, &:focus {
          & .teste-agora {
            background-color: #FFF;
            color: #003874;
          }
        }
      }
    }
  }

  & .entrega-agil {
    @include show-for(large);
    display: inline-block;
    float: right;
    max-width: rem-calc(195);
    margin-top: rem-calc(20);
    & .link-entrega-agil {
      border: 2px solid #0097cf;
      padding: rem-calc(10);
      display: block;
      color: #003874;
      font-weight: 700;
      text-align: center;
      font-style: italic;
      font-size: rem-calc(12);
      transition: background-color 200ms;
      & span {
        color: #0097cf;
      }

      &:hover, &:focus {
        background: #0097CF;
        color: #FFF;

        & span {
          color: #FFF;
        }
      }
    }
  }
}
