.ultimos-insights, .mais-insights {
  padding-bottom: rem-calc(100);
  & .insight {
    & .insight-image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      min-height: rem-calc(390);
    }
    & .insight-infos {
      background-color: rgba(255,255,255,.75);
      padding: rem-calc(20);
      height: 100%;

      & .insight-data {
        font-weight: 300;
        font-style: italic;
      }

      & .insight-tipo {
        font-weight: 300;
        color: #00B0EF;
        font-size: rem-calc(24);
        text-transform: uppercase;
        display: inline-block;
        margin: rem-calc(20 0);
        & img {
          margin-right: rem-calc(10);
        }
      }

      & .insight-titulo {
        font-weight: 700;
        font-size: rem-calc(18);
        position: relative;
        margin-bottom: rem-calc(20);
        display: inline-block;
        padding-bottom: rem-calc(10);

        &::after {
          content: "";
          position: absolute;
          height: rem-calc(3);
          width: rem-calc(45);
          background-color: #00b0ef;
          bottom: 0;
          left: 0;
        }
      }

      & .insight-descricao {
        font-size: rem-calc(14);
      }

      & .button {
        display: inline-block;
        margin-top: rem-calc(20);
        margin-bottom: 0;

        & .fa {
          margin-left: rem-calc(10);
        }
      }
    }
  }
}

.mais-insights {
  & .insight {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    & .insight-infos {
      padding: rem-calc(20);

      @include breakpoint(medium) {
        padding: rem-calc(20 40);
      }

      & .insight-tipo {
        margin-top: 0;
      }

      & .button {
        margin-top: 0;

        @include breakpoint(small only) {
          display: block;
          width: 100%;
          margin-right: 0;
          margin-left: 0;

          &:not(:last-of-type) {
            margin-bottom:rem-calc(10);
          }
        }
      }
    }
  }
}