.button.secondary {
  color:#FFF;

  &:hover, &:focus {
    color:#FFF;
  }
}

img {
  @include text-selection();
}

a img {
  cursor: pointer;
}

.highlight-text {
  font-size: rem-calc(38);
  text-align: center;
  margin: rem-calc(100) auto;
}

.bx-wrapper {
  border:none;
  box-shadow: none;
  background-color: #235574;
  margin-bottom: 0;
  z-index: 0;

  & .bx-viewport {
    overflow: visible!important;
  }

  & .bx-pager.bx-default-pager {
    bottom:rem-calc(20);

    & a.bx-pager-link {
      background-color:#FFF;
      opacity: .6;

      &.active {
        border:1px solid #FFF;
        padding: 1px;
        background-clip: content-box;
      }
    }
  }
}

.mais-insights {
  background-color:#F1F1F1;
}


.newsletter-webinars {
  display:none;
  background: #00436D url("../images/pages/all/bg-newsletter.jpg") center center no-repeat;
  background-size: cover;
  padding: rem-calc(20);
  margin: rem-calc(15 0);

  & .newsletter-text {
    font-size: rem-calc(18);
    color: #FFF;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    @include text-selection();
  }

  & .link-newsletter {
    text-align: center;
    margin-top: rem-calc(5);

    & .button {
      margin-bottom: 0;
      & img {
        margin-left: rem-calc(10);
        vertical-align: middle;
      }
    }
  }
}

.continue-navegando {
  & .continue-navegando-links {
    text-align: center;
    margin-bottom:rem-calc(100);
    & .button {
      width: rem-calc(240);
    }
  }
}

& .nossos-clientes {
  background-color: #fff;
  padding-bottom: rem-calc(140);

  & .bx-wrapper {
    background-color: #fff;
    margin: auto;
    @include breakpoint(medium) {
      & .bx-next {
        right: -40px;
      }

      & .bx-prev {
        left: -40px;
      }
    }

    & .bx-viewport {
      overflow: hidden !important;
    }
  }
}

.highlight-text-agile{
  font-size: rem-calc(22);
  text-align: center;
  margin: rem-calc(10) auto;
}

.loading_contact{
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-position: center;

  input{
    display: none !important;
  }

  button{
    display: none !important;
  }
}

& .estatistica {
  & .estatistica-numero {
    display: block;
    color: #00ADF3;
    font-weight: 300;
    font-size: rem-calc(65);
    text-align: center;
    position: relative;
    &::after {
      content: "";
      display: block;
      background-color: #00ADF3;
      width: rem-calc(32);
      height: rem-calc(4);
      @include horizontal-center();
      bottom: 0;
      margin-top: rem-calc(20);
    }
  }

  & .estatistica-texto {
    color: #00ADF3;
    font-weight: 700;
    font-style: italic;
    display: block;
    text-align: center;
    margin-top: rem-calc(20);
  }
}


.depoimentos {
  background-color:#235574;

  & .depoimento {
    @include text-selection();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: rem-calc(80 20);

    @include breakpoint(medium) {
      padding: rem-calc(80 65);
    }

    & .depoimento-citacao {
      border: none;
      font-size: rem-calc(16);
      font-style: italic;
      margin: 0 0 rem-calc(60) 0;
      padding: 0;
      @include breakpoint(medium){
        height:rem-calc(200);
      }
      text-align: center;
      & p {
        color: #FFF;
        margin: 0;
        @include breakpoint(medium){
          @include vertical-align();
        }
      }
    }

    & .depoimento-autor {
      color: #FFF;
      display: block;
      font-weight: 700;
      text-align: center;
      font-size: rem-calc(20);
    }

    & .depoimento-autor-cargo {
      color: #FFF;
      display: block;
      text-align: center;
      min-height:rem-calc(48);
    }
  }
}

& .nossos-premios {
  background-color: #f1f1f1;
  padding-bottom: rem-calc(100);

  & .highlight-text {
    margin-bottom: rem-calc(40);

    & + p {
      margin-bottom: rem-calc(100);
    }
  }
  & .premio {
    width: 100%;
    padding: rem-calc(30);
    margin-bottom: rem-calc(30);
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);

    & .premio-logo {
      display: block;
      margin: 0 auto rem-calc(40);
    }

    & .premio-description {
      color: #003874;
      font-weight: 600;
      margin: rem-calc(30) auto;
      @include breakpoint(medium) {
        min-height: rem-calc(150);
      }
      @include breakpoint(large) {
        min-height: rem-calc(125);
        max-width: rem-calc(250);
      }
    }
  }
}

.tooltip {
      max-width: rem-calc(250);
      min-height: rem-calc(100);
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid #ddd;
}