#analytics {
  & .beneficios {
    background-image: url("../images/pages/analytics/bg-beneficios.jpg");
  }

  & .argumentacao {
    & .tabs {
      & .tabs-title {
        width: (100% / 2);
        @include breakpoint(medium) {
          width: (100% / 3);
        }
        @include breakpoint(large) {
          width: (100% / 5);
        }

        & > a {
          @include breakpoint(large) {
            min-height: rem-calc(210);
          }
          & .tab-icon {
            background: url('../images/pages/analytics/tab-icons.png');
            height: 72px;
          }

          &.tab-1 {
            & .tab-icon {
              background-position: -78px -207px;
              width: 76px;
            }
          }

          &.tab-2 {
            & .tab-icon {
              background-position: -272px -195px;
              width: 46px;
            }
          }

          &.tab-3 {
            & .tab-icon {
              background-position: -467px -202px;
              width: 68px;
            }
          }

          &.tab-4 {
            & .tab-icon {
              background-position: -661px -202px;
              width: 71px;
            }
          }

          &.tab-5 {
            & .tab-icon {
              background-position: -855px -199px;
              width: 81px;
            }
          }
        }

        &.is-active {
          & > a {

            &.tab-1 {
              & .tab-icon {
                background-position: -78px -51px;
              }
            }

            &.tab-2 {
              & .tab-icon {
                background-position: -272px -39px;
              }
            }

            &.tab-3 {
              & .tab-icon {
                background-position: -467px -46px;
              }
            }

            &.tab-4 {
              & .tab-icon {
                background-position: -661px -46px;
              }
            }

            &.tab-5 {
              & .tab-icon {
                background-position: -855px -43px;
              }
            }

          }
        }
      }
    }
  }
}
