.pagina-cases {
  & .img-shadow {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(40);
    }
  }

  & .secao-1 {
    padding-bottom: rem-calc(100);
    background-color: #f1f1f1;

    & .case-estatisticas {
      margin-bottom: rem-calc(100);
    }
  }

  & .secao-2 {
    background-image: url("../images/pages/cases/bg-metodologia.jpg");
    background-color:#fff;
    background-size: cover;
    background-position: center center;
    margin-bottom: rem-calc(100);
    & .box {
      padding: rem-calc(0 30);
      & .box-imagem {
        display: block;
        margin: rem-calc(40) auto;
      }

      & .box-titulo {
        font-size: rem-calc(20);
        display: block;
        margin-bottom: rem-calc(40);
        min-height: rem-calc(60);
      }
    }
  }

  & .secao-3 {
    margin-bottom: rem-calc(100);
    & .row .row:nth-child(1) {
      margin-bottom: rem-calc(100);
    }

    & img {
      display: block;
      margin: auto;
      @include breakpoint(small only){
        margin-bottom: rem-calc(40);
      }
    }
  }

  & .modeler {
    padding-top: rem-calc(100);
  }

  & .secao-4 {
    margin-bottom: rem-calc(100);
    & .two-cols-text {
      @include breakpoint(medium) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: rem-calc(40);
        -webkit-column-gap: rem-calc(40);
        column-gap: rem-calc(40);
      }
    }
  }

  & .beneficios {
    background-image: url("../images/pages/cases/bg-beneficios.jpg");
    & .lista-beneficios {
      & .beneficio {
        margin-bottom: rem-calc(80);
        & .beneficio-title {
          @include breakpoint(medium){
            min-height: rem-calc(66);
          }
        }
      }
    }
  }

  & .secao-5 {
    background-image: url("../images/pages/cases/bg-secao-5.jpg");
    background-color:#fff;
    background-size: cover;
    background-position: center bottom;
    padding-bottom: rem-calc(100);
    & .column-block {
      margin-bottom: rem-calc(80);
    }
  }

  & .continue-navegando {
    background-color: #f1f1f1;
    & .continue-navegando-links {
      & .button {
        width: auto;
        text-transform: uppercase;
      }
    }
  }
}

#case-asics {
  & .secao-3 {
      margin-bottom: rem-calc(100);
      & .row .row:nth-child(1), & .row .row:nth-child(2) {
        margin-bottom: rem-calc(100);
      }
  }
}
