#clientes {
  & .introducao {
    padding-bottom: rem-calc(100);

    & .links-secoes {
      margin-top: rem-calc(100);
      @include breakpoint(small only) {
        & a {
          display: block;
          width: 100%;
        }
      }
      @include breakpoint(medium) {
        & a:not(:last-of-type) {
          margin-right: rem-calc(20);
        }
      }
    }
  }

  & .autonomia, & .inteligencia {
    background-color: #f1f1f1;
  }

  & .mais-cases {
    & .mais-case {
      width: 100%;
      padding: rem-calc(30);
      margin-bottom: rem-calc(30);
      background-color: #FFF;
      text-align: center;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
      @include breakpoint(medium) {
        padding: rem-calc(30 20);
      }
      @include breakpoint(medium) {
        padding: rem-calc(30 50);
      }

      & .mais-case-logo {
        display: block;
        margin: 0 auto rem-calc(40);
      }

      & .mais-case-chamada {
        font-weight: 700;
        display: block;
        text-align: center;
        margin-bottom: rem-calc(20);
        text-transform: uppercase;
        @include breakpoint(medium) {
          min-height: rem-calc(120);
        }
        @include breakpoint(large) {
          min-height: rem-calc(96);
        }
      }

      & .mais-case-citacao {
        border: none;
        text-align: left;
        display: block;
        margin-bottom: rem-calc(20);
        font-style: italic;
        padding: 0;
        @include breakpoint(medium) {
          min-height: rem-calc(200);
        }

        & p {
          color: #003874;
          margin: 0;
        }
      }

      & .mais-case-cliente {
        font-weight: 700;
        font-style: italic;
        display: block;
        text-align: left;
        margin-bottom: rem-calc(20);
        @include breakpoint(medium) {
          min-height: rem-calc(72);
        }
        @include breakpoint(large) {
          min-height: rem-calc(48);
        }
      }
    }
  }

  & .todos {
    padding-bottom: rem-calc(100);
    & .todos-titulo-categoria {
      display: block;
      margin: rem-calc(100 0 80 0);
      text-align: center;
      font-size: rem-calc(32);
      &:nth-child(2) {
        margin-top: 0;
      }
    }

    & .column-block {
      margin-bottom: rem-calc(60);

      & img {
        display: block;
        margin: auto;
      }
    }
  }


}