#ecm {
  & .beneficios {
    background-image: url("../images/pages/ecm/bg-beneficios.jpg");
  }

  & .argumentacao {
    & .tabs {
      & .tabs-title {
        width: (100% / 2);
        @include breakpoint(medium) {
          width: (100% / 3);
        }
        @include breakpoint(large) {
          width: (100% / 5);
        }

        & > a {
          @include breakpoint(large) {
            //min-height: rem-calc(210);
          }
          & .tab-icon {
            background: url('../images/pages/ecm/tab-icons.png');
            height: 70px;
          }

          &.tab-1 {
            & .tab-icon {
              background-position: -78px -203px;
              width: 58px;
            }
          }

          &.tab-2 {
            & .tab-icon {
              background-position: -274px -203px;
              width: 74px;
            }
          }

          &.tab-3 {
            & .tab-icon {
              background-position: -469px -204px;
              width: 58px;
            }
          }

          &.tab-4 {
            & .tab-icon {
              background-position: -665px -197px;
              width: 46px;
            }
          }

          &.tab-5 {
            & .tab-icon {
              background-position: -860px -206px;
              width: 51px;
            }
          }
        }

        &.is-active {
          & > a {

            &.tab-1 {
              & .tab-icon {
                background-position: -78px -46px;
              }
            }

            &.tab-2 {
              & .tab-icon {
                background-position: -274px -46px;
              }
            }

            &.tab-3 {
              & .tab-icon {
                background-position: -469px -47px;
              }
            }

            &.tab-4 {
              & .tab-icon {
                background-position: -665px -40px;
              }
            }

            &.tab-5 {
              & .tab-icon {
                background-position: -860px -49px;
              }
            }

          }
        }
      }
    }
  }
}
