#entrega-agil {
  & .entrega-agil-highlight {
    font-size: rem-calc(42);
    font-weight: 300;
    font-style: italic;
    display: block;
    line-height: 1.2;
    margin-bottom: rem-calc(20);
    text-transform: uppercase;
  }

  & .em-hashtag {
    color: #00C1CB;
    font-weight: 300;
    font-style: italic;
  }

  & .text-blue {
    color: #00c0cb;
  }

  & .secao-1 {
    background-image: url("../images/pages/entrega-agil/bg-entrega-agil-secao-1.jpg");
    background-color:#334557;
    background-size: cover;
    background-position: center top;
    color: #FFF;
    padding-bottom: rem-calc(175);

    & .banner-title {
      color: #FFF;
    }

    & .banner-subtitle {
      color: #FFF;
    }

    & .banner-col {
      @include breakpoint(large) {
        margin-left: rem-calc(330)!important;
      }
    }

    & .row-era-digital {
      margin-top: rem-calc(250);
    }

    & .row-inspiracao {
      margin-top: rem-calc(200);
    }
  }

  & .secao-2 {
    background-image: url("../images/pages/entrega-agil/bg-entrega-agil-secao-2.jpg");
    background-color:#37606f;
    background-size: cover;
    background-position: center top;
    color: #FFF;
    padding: rem-calc(80 0);

    & figure {
      text-align: center;
      & figcaption {
        color: #FFF;
        display: block;
        margin-top: rem-calc(40);
      }
    }
  }

  & .secao-3 {
    background-image: url("../images/pages/entrega-agil/bg-entrega-agil-secao-3.jpg");
    background-color:#003a4f;
    background-size: cover;
    background-position: center top;
    color: #FFF;
    padding: rem-calc(80 0);

    & img {
      display: block;
      margin: auto;
    }
  }

  & .secao-4 {
    background-image: url("../images/pages/entrega-agil/bg-entrega-agil-secao-4.jpg");
    background-color:#245768;
    background-size: cover;
    background-position: center top;
    color: #FFF;
    padding: rem-calc(80 0);

    & img {
      display: block;
      margin: auto;
    }
  }

  & .secao-5 {
    background-image: url("../images/pages/entrega-agil/bg-entrega-agil-secao-5.jpg");
    background-color:#ccd4d8;
    background-size: cover;
    background-position: center top;
    padding: rem-calc(80 0);

    & img {
      display: block;
      margin: auto;
    }
  }

  & .modeler {
    padding-top: rem-calc(100);
  }

}