#gestao-de-ti {
  & .beneficios {
    background-image: url("../images/pages/gestao-de-ti/bg-beneficios.jpg");
    & .beneficio {
      & .beneficio-description {
        display: block;
        text-align: center;
      }
      & img {
        display: block;
        margin: 0 auto rem-calc(80);
      }
    }
  }

  & .argumentacao {
    background-color: #FFF;
    padding: rem-calc(100 0);
    & .highlight-text {
      text-align: left;
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(60);
    }

    & .row .row:not(:last-of-type) {
      margin-bottom: rem-calc(100);
    }
  }

  & .continue-navegando {
    & .continue-navegando-links {
      & .button {
        width: rem-calc(192);
        margin-bottom: rem-calc(5);
      }
    }
  }
}