#governo {
  & .beneficios {
    background-image: url("../images/pages/governo/bg-beneficios.jpg");
    & .beneficio {
      & .beneficio-description {
        display: block;
        text-align: center;
      }
      & img {
        display: block;
        margin: 0 auto rem-calc(80);
      }
    }
  }

  & .argumentacao {
    background-color: #FFF;
    padding: rem-calc(100 0);
    & .highlight-text {
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(60);
    }

    & .row .row:not(:last-of-type) {
      margin-bottom: rem-calc(100);
    }

    & .two-cols-text {
      @include breakpoint(medium) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: rem-calc(40);
        -webkit-column-gap: rem-calc(40);
        column-gap: rem-calc(40);
      }
    }

    ul {
      li {
        margin-bottom: rem-calc(5);
        img {
          margin-right: rem-calc(10);
          vertical-align: baseline;
        }
      }
    }

    & .resultado-santos {
      background-color: #FFF;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      padding: rem-calc(20 40);
      @include text-selection();

      & table {
        border-collapse: collapse;

        & caption {
          font-weight: 400;
          color: #00b2f2;
          font-size: rem-calc(40);
        }

        & th {
          color: #003874;
          background-color: #efefef;
          font-size: rem-calc(20);
          text-align: center;
          border-bottom: 1px solid #9d9b9b;
          border-right: 1px solid #9d9b9b;
          &:last-of-type {
            border-right: none;
          }
        }

        & td {
          background-color: #efefef;
          border-bottom: 1px solid #9d9b9b;
          border-right: 1px solid #9d9b9b;
          text-align: center;
          &:last-of-type {
            border-right: none;
          }
        }

        & tr:last-of-type {
          & td {
            border-bottom: none;
          }
        }

        & .row-total {
          & td {
            color: #00B2F2;
            font-size: rem-calc(22);
            font-weight: 700;
          }
        }
      }
    }

    & .ganho {
      width: 100%;
      padding: rem-calc(30);
      margin-bottom: rem-calc(30);
      background-color: #FFF;
      text-align: center;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
      @include text-selection();

      & .row {
        margin-bottom: 0!important;
      }

      & .ganho-title {
        display: block;
        color: #009ADA;
        font-weight: 700;
        font-size: rem-calc(28);
        white-space: nowrap;
        margin-bottom: rem-calc(10);

        & img {
          vertical-align: baseline;
        }
      }

      & .ganho-description {
        font-weight: 700;
        font-size: rem-calc(20);
        display: block;
        min-height: rem-calc(62);
      }

      & .ganho-numero-dia {
        display: block;
        text-align: center;
        font-size: rem-calc(60);
        font-weight: 700;
        line-height: 1;
      }

      & .ganho-texto-dia {
        display: block;
        text-align: center;
        font-size: rem-calc(32);
        font-weight: 700;
        line-height: 1;
      }

      & .ganho-chevron {
        margin-top: rem-calc(20);
      }

      & .ganho-asterisco {
        font-size: rem-calc(16);
        vertical-align: super;
      }

      & .ganho-porcentagem {
        display: inline-block;
        background-color: #009ADA;
        color: #FFF;
        font-size: rem-calc(22);
        padding: rem-calc(0 20);
        margin-top: rem-calc(20);
      }
    }
  }

  & .continue-navegando {
    & .continue-navegando-links {
      & .button {
        width: rem-calc(192);
        margin-bottom: rem-calc(5);
      }
    }
  }
}