#home {
  & .pilares-lecom {
    background: url("../images/pages/home/bg-pilares.jpg") center bottom no-repeat;
    & .entrega-processos {
      margin: rem-calc(40 0);
      position: relative;
      & p {
        color: #1F4485;
      }
      & img {
        display: block;
        @include breakpoint(medium down) {
          margin: rem-calc(40) auto;
        }
      }
      & .text-entrega {
        @include breakpoint(large) {
          position: absolute;
          bottom: 0;
          right: 0;
          border-right: 3px solid #00A3E0;
          padding-right: rem-calc(10);
          text-align: right;
          width: rem-calc(280);
        }
      }

      & .text-processos {
        @include breakpoint(large) {
          position: absolute;
          top: 0;
          left: 0;
          border-left: 3px solid #00A3E0;
          padding-left: rem-calc(10);
          width: rem-calc(280);
        }
      }
    }

    & .link-pilares-lecom {
      text-align: center;
      margin-top: rem-calc(90);
    }
  }

  & .pilares-plataforma {
    background: url("../images/pages/home/bg-solucoes-por-area.jpg") center bottom no-repeat;
    padding-bottom: rem-calc(180);
    & .pilar {
      width: 100%;
      padding: rem-calc(30);
      margin-bottom: rem-calc(30);
      background-color: #FFF;
      text-align: center;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);

      & .pilar-icon {
        display: block;
        margin: 0 auto rem-calc(40);
      }

      & .pilar-title {
        display: block;
        color: #009ADA;
        font-weight: 700;
        font-size: rem-calc(28);
        white-space: nowrap;

        & img {
          vertical-align: baseline;
        }
      }

      & .pilar-description {
        color: #003874;
        font-weight: 600;
        margin: rem-calc(30) auto;
        @include breakpoint(medium) {
          min-height: rem-calc(150);
        }
        @include breakpoint(large) {
          max-width: rem-calc(250);
          min-height: rem-calc(100);
        }
      }

      & .button {
        color: #FFF;
        min-width: rem-calc(165);
        font-size: rem-calc(18);
        margin-bottom: 0;
      }
    }
  }

  & .solucoes-por-area {
    overflow: hidden;
    margin-top: rem-calc(150);
    & .bx-wrapper {
      background-color: transparent;
    }
    & .aplicacoes, & .industrias {
      & > .row {
        padding: rem-calc(0 10);
      }
    }
    & .title-area {
      background-color: #FFF;
      display: block;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      height: rem-calc(383);
      margin-left: rem-calc(4);
      position: relative;

      & .solucao-title {
        font-size: rem-calc(40);
        width: 55%;
        text-align: right;
        line-height: 1.3;
        @include absolute-center;
        @include text-selection;
      }

      & .link-industrias {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #003874;
        font-size: rem-calc(24);

        & img {
          margin-left: rem-calc(10);
          display: inline-block;
        }
      }

      & .link-aplicacoes {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #003874;
        font-size: rem-calc(24);

        & img {
          margin-right: rem-calc(10);
          display: inline-block;
        }
      }
    }

    & .link-aplicacao {
      display: block;
      height: rem-calc(190);
      background-color: #FFF;
      margin-bottom: rem-calc(4);
      margin-right: rem-calc(2);
      margin-left: rem-calc(2);
      position: relative;
      color: #FFF;
      font-weight: 700;
      font-size: rem-calc(18);
      white-space: nowrap;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      background-position: center;
      background-size: 100% 100%;
      transition: all .2s ease-out;

      &.operacoes { background-color: #00b532; background-image: url("../images/pages/home/bg-solucoes-operacoes.jpg"); }
      &.supply-chain { background-color: #ff9c00; background-image: url("../images/pages/home/bg-solucoes-supply-chain.jpg"); }
      &.marketing { background-color: #b149ae; background-image: url("../images/pages/home/bg-solucoes-marketing.jpg"); }
      &.gestao-de-ti { background-color: #1f4485; background-image: url("../images/pages/home/bg-solucoes-gestao-de-ti.jpg"); }
      &.vendas-e-negocios { background-color: #00a0f2; background-image: url("../images/pages/home/bg-solucoes-vendas-e-negocios.jpg"); }
      &.rh { background-color: #ff0b39; background-image: url("../images/pages/home/bg-solucoes-rh.jpg"); }

      &.governo { background-color: #4838fe; background-image: url("../images/pages/home/bg-solucoes-governo.jpg"); }
      &.saude { background-color: #00beb5; background-image: url("../images/pages/home/bg-solucoes-saude.jpg"); }

      &.governo, &.saude {
        @include breakpoint(medium){
          height: rem-calc(383);
        }
      }

      &:hover, &:focus {
        background-size: 120% 120%;
        transition: all .3s ease-in;
      }

      & > span {
        @include absolute-center;

        &::after {
          content: "";
          display: block;
          height: rem-calc(3);
          width: rem-calc(60);
          background-color: #FFF;
          bottom: -10px;
          @include horizontal-center;
        }
      }

    }
  }

  & .nossa-historia {
    & .cases-vencedores {
      display:none;
      background-color: rgba(255,255,255,.60);
      padding: rem-calc(20);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(40);
      }

      @include breakpoint(large){
        padding: rem-calc(40);
      }


      & img {
        display: block;
        margin: auto;
        @include breakpoint(medium down) {
          margin-bottom: rem-calc(40);
        }
      }

      & .cases-vencedores-text {
        font-weight: 600;
        margin-bottom: rem-calc(20);
      }

      & .button {
        color: #FFF;
        font-size: rem-calc(18);
      }
    }

    & .programa-canais {
      display:none;
      background-color: rgba(255,255,255,.60);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);

      & img {
        display: block;
        margin: auto;
      }

      & .programa-canais-title {
        display: block;
        margin-bottom: rem-calc(10);
      }

      & .programa-canais-content {
        padding: rem-calc(20);
        @include breakpoint(large){
          padding: rem-calc(40);
        }
      }

      & .programa-canais-text {
        font-weight: 600;
        margin-bottom: rem-calc(20);
      }

      & .button {
        color: #FFF;
        font-size: rem-calc(18);
      }
    }
  }

  & .ultimos-insights {
    background: #D9D8D6 url("../images/pages/home/bg-ultimos-insights.jpg") center top no-repeat;
  }
}

& .nossa-historia {
  background: url("../images/pages/home/bg-nossa-historia.jpg") center bottom no-repeat;
  padding-bottom: rem-calc(90);

  & > .row:not(:first-of-type) {
    margin-bottom: rem-calc(40);
  }

  & .boxes {
    & .row {
      margin-bottom: rem-calc(20);
    }

    & .box {
      background-color: rgba(255,255,255,.60);
      text-align: center;
      padding: rem-calc(20 10);
      min-height: rem-calc(255);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);

      & img {
        display: block;
        margin: auto;
      }

      & .box-highlight {
        font-size: rem-calc(18);
        @include breakpoint(large) {
          font-size: rem-calc(25);
        }
        font-weight: 800;
        color: #00AAEC;
        display: block;
        margin: rem-calc(20 0);
      }

      & .box-text {
        display: block;
        font-weight: 600;
        @include breakpoint(large) {
          font-size: rem-calc(18);
        }
      }
    }
  }
}