#insights {

  & .insights-content {
    background-color: #f1f1f1;
    padding-bottom: rem-calc(100);
    background-image: url('../images/pages/insights/bg-insights-content.jpg');
    background-position: center top;
    background-repeat: no-repeat;

    & .insights-search {
      background-color: #FFF;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      padding: rem-calc(40);
      margin-bottom: rem-calc(100);

      & select {
        color: #ABABAB;

        &:focus {
          color: #333;
        }
      }
    }

    & .highlight-insight {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      margin:0 0 rem-calc(20) 0;
      & .insight-image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: rem-calc(390);
      }
      & .insight-infos {
        background-color: rgba(255,255,255,.75);
        padding: rem-calc(20);
        height: 100%;

        @include breakpoint(medium) {
          padding: rem-calc(20 40);
        }

        & .insight-data {
          font-weight: 300;
          font-style: italic;
        }

        & .insight-tipo {
          font-weight: 300;
          color: #00B0EF;
          font-size: rem-calc(24);
          text-transform: uppercase;
          display: inline-block;
          margin: rem-calc(20 0);
          margin-top: 0;
          & img {
            margin-right: rem-calc(10);
          }
        }

        & .insight-titulo {
          font-weight: 700;
          font-size: rem-calc(18);
          position: relative;
          margin-bottom: rem-calc(20);
          display: inline-block;
          padding-bottom: rem-calc(10);

          &::after {
            content: "";
            position: absolute;
            height: rem-calc(3);
            width: rem-calc(45);
            background-color: #00b0ef;
            bottom: 0;
            left: 0;
          }
        }

        & .insight-descricao {
          font-size: rem-calc(14);
        }

        & .button {
          margin-top: 0;

          @include breakpoint(small only) {
            display: block;
            width: 100%;
            margin-right: 0;
            margin-left: 0;

            &:not(:last-of-type) {
              margin-bottom:rem-calc(10);
            }
          }

          & .fa {
            margin-left: rem-calc(10);
          }
        }
      }
    }

    & .insights-grid {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      background-color: #FFF;
      padding: rem-calc(40);

      & .insight {
        margin-bottom: rem-calc(20);

        & a {
          color: #003874;
          font-size: rem-calc(14);
          display: block;
          padding: rem-calc(5);
          transition: background-color 200ms;

          & .insight-image {
            margin-bottom: rem-calc(10);
            position: relative;
            &::after {
              @extend .fa;
              content: '';
              display: block;
              background-color: rgba(0, 56, 116, 0.8);
              background-image: url('../images/pages/insights/ic-view-more.png');
              background-repeat: no-repeat;
              background-position: center;
              transition: opacity 200ms;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              opacity: 0;
              padding-top: 25%;
              color: #FFF;
              font-size: rem-calc(40);
            }

          }

          & .insight-titulo {
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            display: block;
            margin-bottom: rem-calc(5);
            font-size: rem-calc(16);
          }

          &:hover, &:focus {
            background: #fafafa;
            & .insight-image {
              &::after {
                opacity: 1;
              }
            }
          }
        }

      }
    }

    & .more-insights {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
      background-color: #FFF;
      padding: rem-calc(40);
    }
  }

}