#premiacoes {
  & .nossos-premios {
    background: url("../images/pages/premiacoes/bg-nossos-premios.jpg");
    background-color:#f1f1f1;
    background-repeat: no-repeat;
    background-position: center bottom;

    & .link-veja-mais-cases {
    margin-top: rem-calc(100);
    }
  }
  & .modeler {
    padding-top: rem-calc(100);
  }
}