#programa-de-parceiros {
    & .argumentacao {
      background-image: url("../images/pages/programa-de-parceiros/bg-argumentacao.jpg");
      background-position: bottom center;
      padding-bottom: rem-calc(100);
      & .boxes {
        margin-top: rem-calc(100);
        & .box {
          background-color: #FFF;
          text-align: center;
          padding: rem-calc(20 10);
          min-height: rem-calc(255);
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
          margin-bottom: rem-calc(20);

          & img {
            display: block;
            margin: auto;
            margin-bottom: rem-calc(20);
          }

          & p {
            text-align: center;
            min-height: rem-calc(150);
            margin: 0;
          }
        }
      }
    }

    & .depoimento-parceiros {

      & .bx-wrapper {
        background-color: transparent;
        & .bx-pager.bx-default-pager {
          bottom: rem-calc(-60);
        }
      }

      & .depoimentos {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: rem-calc(100);
        padding: rem-calc(100 0);
        overflow: hidden;


        & .depoimento {
          background-color: rgba(255,255,255,.8);
          padding: rem-calc(40 100);
          opacity: 1;
          transition: opacity 200ms;

          &[aria-hidden="true"] {
            opacity: .2;
            transition: opacity 200ms;
          }

          & .depoimento-citacao {
            & p {
              color: #003874;
            }
          }

          & .depoimento-autor, & .depoimento-autor-cargo {
            color: #003874;
          }
        }
      }
    }

    & .parceiros-lista {
      padding-bottom: rem-calc(100);
    }

    & .inscricao {
      background-color: #f1f1f1;
      background-image: url("../images/pages/programa-de-parceiros/bg-inscricao.jpg");
      background-position: bottom center;
      padding-bottom: rem-calc(100);
    }
}