#sobre {
  & .beneficios {
    background-image: url("../images/pages/sobre/bg-beneficios.jpg");
  }

  & .nossa-historia-grafico {
    background-image: url("../images/pages/sobre/bg-grafico.jpg");
    background-color:#FFF;
    background-size: cover;
    background-position: center top;
    padding-bottom: rem-calc(80);
  }

  & .continue-navegando {
    & .continue-navegando-links {
      & .button {
        width: auto;
        text-transform: uppercase;
      }
    }
  }
}
