#studio {
  & .beneficios {
    background-image: url("../images/pages/studio/bg-beneficios.jpg");
  }

  & .argumentacao {
    & .tabs {
      & .tabs-title {
        width: (100% / 2);
        @include breakpoint(medium) {
          width: (100% / 3);
        }
        @include breakpoint(large) {
          width: (100% / 5);
        }

        & > a {
          @include breakpoint(large) {
          min-height: rem-calc(202);
        }
          & .tab-icon {
            background: url('../images/pages/studio/tab-icons.png');
            height: 70px;
          }

          &.tab-1 {
            & .tab-icon {
              background-position: -78px -220px;
              width: 57px;
            }
          }

          &.tab-2 {
            & .tab-icon {
              background-position: -266px -218px;
              width: 52px;
            }
          }

          &.tab-3 {
            & .tab-icon {
              background-position: -454px -222px;
              width: 70px;
            }
          }

          &.tab-4 {
            & .tab-icon {
              background-position: -641px -223px;
              width: 72px;
            }
          }

          &.tab-5 {
            & .tab-icon {
              background-position: -829px -217px;
              width: 68px;
            }
          }
        }

        &.is-active {
          & > a {

            &.tab-1 {
              & .tab-icon {
                background-position: -78px -42px;
              }
            }

            &.tab-2 {
              & .tab-icon {
                background-position: -266px -40px;
              }
            }

            &.tab-3 {
              & .tab-icon {
                background-position: -454px -44px;
              }
            }

            &.tab-4 {
              & .tab-icon {
                background-position: -641px -45px;
              }
            }

            &.tab-5 {
              & .tab-icon {
                background-position: -829px -39px;
              }
            }
          }
        }
      }
    }
  }
}
