#tour {
  & .bx-wrapper {
    background-color: transparent;

    & .bx-viewport {
      overflow: hidden!important;
    }
  }

  & .tour-menu-bar {
    & .tour-menu {
      text-align: center;
      padding: rem-calc(30 0);
      background-color: rgba(255, 255, 255, 0.9);
      & a {
        display: inline-block;
        vertical-align: middle;
        margin: rem-calc(0 10);
        padding: 0.85em 1em;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: rem-calc(10);
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        font-size: 0.9rem;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        background-color: #f2f2f2;
        color: #9c9c9c;
        &.active {
          background-color: #00a0f2;
          color: #FFF;
        }
      }
    }
  }

  & .image-shadow {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      margin: auto;
      display: block;
  }

  & .image-border {
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  & .organize {
    padding-bottom: rem-calc(100);
  }

  & .acompanhe, & .aprove, & .consulte {
    padding-bottom: rem-calc(100);
    & .acompanhe-box, & .aprove-box , & .consulte-box {
      background-color: #FFF;
      padding: rem-calc(40);
      border-radius: rem-calc(5);
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

      & .acompanhe-slide, & .aprove-slide, & .consulte-slide {
        & strong {
          display: block;
          color: #00B89C;
          margin-top: rem-calc(40);
          margin-bottom: rem-calc(20);
          font-size: rem-calc(14);
        }
        & p {
          color: #797979;
          font-size: rem-calc(14);
        }
      }

      & .acompanhe-slider-controls, & .aprove-slider-controls, & .consulte-slider-controls {
        padding-top: rem-calc(40);
        text-align: center;
        & a {
          display: inline-block;
          vertical-align: middle;
          margin: rem-calc(0 10);
          padding: 0.85em 1em;
          -webkit-appearance: none;
          border: 1px solid transparent;
          border-radius: rem-calc(10);
          transition: background-color 0.25s ease-out, color 0.25s ease-out;
          font-size: 0.9rem;
          line-height: 1;
          text-align: center;
          cursor: pointer;
          background-color: #f2f2f2;
          color: #9c9c9c;
          &.active {
            background-color: #00B89C;
            color: #FFF;
          }
        }
      }
    }
  }

  & .container-passos {
    position: relative;
  }

  & .passos {
    position: absolute;

    display: block;
    width: rem-calc(32);
    height: rem-calc(32);
    line-height: rem-calc(35);
    border-radius: 50%;
    background: #00B774;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 183, 116, 0.6);
    animation: pulse 2s infinite;
    text-align: center;
    transition: opacity 1s;

    &::after {
      content: "\f12a";
      @extend .fa;
      color: #FFF;
      font-size: rem-calc(20);
    }

    &:hover {
      animation: none;
      opacity: .2;
    }

    &.passo-1 { top:  6.7%; left: 4.8%; }
    &.passo-2 { top: 14.8%; left: 4.8%; }
    &.passo-3 { top: 62.2%; left: 4.8%; }
    &.passo-4 { top:   10%; left:  20%; }
    &.passo-5 { top:   19%; left:   3%; }
    &.passo-6 { top:  71%; left:    5%; }
    &.passo-7 { top:  10%; left:  9.4%; }
  }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0, 183, 116, 0.6); }
   70% { box-shadow: 0 0 0 rem-calc(10) rgba(0, 183, 116, 0); }
  100% { box-shadow: 0 0 0 0 rgba(0, 183, 116, 0); }
}