#trabalhe {
  & .beneficios {
    background-image: url("../images/pages/trabalhe/bg-beneficios.jpg");
    & .beneficio {
      & img {
        display: block;
        margin: 0 auto rem-calc(80);
      }
    }
  }
  & .argumentacao {
    padding-bottom: rem-calc(100);
    & .argumentacao-estatisticas {
      padding: rem-calc(100 0);
    }
  }

  & .vagas-disponiveis {
    .vaga {
      background-color: #FFF;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      padding: rem-calc(40);
      margin: 0 0 rem-calc(40) 0;

      @include breakpoint(medium) {
        padding: rem-calc(40 80);
      }

      & .vaga-titulo {
        display: block;
        margin-bottom: rem-calc(5);
      }

      & .button {
        margin-top: rem-calc(40);
        margin-bottom: 0;
      }
    }

    #vaga_135 {
      & .button {
        margin-top: rem-calc(10);
      }
    }
  }

  & .div_vaga_selecionada {
    background-color: #EBEBEB;
    padding: rem-calc(40);
    margin-bottom: rem-calc(100);
    text-transform: uppercase;
    text-align: center;
  }
}
