#workspace {
  & .beneficios {
    background-image: url("../images/pages/workspace/bg-beneficios.jpg");
  }

  & .argumentacao {
    & .tabs {
      & .tabs-title {
        width: (100% / 2);
        @include breakpoint(large) {
          width: (100% / 4);
        }

        & > a {
          & .tab-icon {
            background: url('../images/pages/workspace/tab-icons.png');
            height: 79px;
          }

          &.tab-1 {
            & .tab-icon {
              background-position: -94px -201px;
              width: 79px;
            }
          }

          &.tab-2 {
            & .tab-icon {
              background-position: -341px -195px;
              width: 73px;
            }
          }

          &.tab-3 {
            & .tab-icon {
              background-position: -587px -198px;
              width: 50px;
            }
          }

          &.tab-4 {
            & .tab-icon {
              background-position: -834px -212px;
              width: 63px;
            }
          }
        }

        &.is-active {
          & > a {

            &.tab-1 {
              & .tab-icon {
                background-position: -94px -43px;
              }
            }

            &.tab-2 {
              & .tab-icon {
                background-position: -341px -39px;
              }
            }

            &.tab-3 {
              & .tab-icon {
                background-position: -587px -42px;
              }
            }

            &.tab-4 {
              & .tab-icon {
                background-position: -834px -56px;
              }
            }

          }
        }
      }
    }
  }
}
