$icomoon-font-path: "../fonts" !default;
$ic-issu: "\e900";



@font-face {
  font-family: 'icons-lecom';
  src:  url('#{$icomoon-font-path}/icons-lecom.eot?6he8fs');
  src:  url('#{$icomoon-font-path}/icons-lecom.eot?6he8fs#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icons-lecom.ttf?6he8fs') format('truetype'),
    url('#{$icomoon-font-path}/icons-lecom.woff?6he8fs') format('woff'),
    url('#{$icomoon-font-path}/icons-lecom.svg?6he8fs#icons-lecom') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic-l {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-lecom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-issu {
  &:before {
    content: $ic-issu;
  }
}

