/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@mixin text-selection($selection: none, $drag: none, $cursor: default) {
  -webkit-user-select: $selection;  /* Chrome all / Safari all */
  -moz-user-select: $selection;     /* Firefox all */
  -ms-user-select: $selection;      /* IE 10+ */
  user-select: $selection;          /* Likely future */

  -webkit-user-drag: $drag;
  -khtml-user-drag: $drag;
  -moz-user-drag: $drag;
  -o-user-drag: $drag;
  user-drag: $drag;

  cursor: $cursor;
}